.posts-component {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  
}


.post {
  margin-bottom: 10px;
  padding: 10px;
  width: 550px;
  gap:1rem;
  border-bottom: 1px solid lightgray;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-info-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.post-info-flex ul {
  padding-left: 0.5rem;
  color: var(--light-grey);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-info-flex p {
  font-size: 1.2rem;
  font-weight: 600;
  margin:0;
}

.list-time {
  font-size: 0.7rem;
  margin: 0;
}

.post-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.post-icons i{
  font-size: 1.5rem;
}

.post-icons-left {
  display: flex;
  justify-content: flex-start;
  gap: 0.35rem;
  align-items: center;
}

.likes,
.caption,
.comments {
  margin: 0.35rem 0;
  font-size: 1.2rem;
}

.comments {
  color: rgb(104, 101, 101);
  margin-bottom: 5px;
}